body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    background-image: url('iron-man/cover.jpg');
    background-size: cover;
    background-attachment: fixed;
    background-repeat: no-repeat;
    color: #ffffff;
    line-height: 1.6;
}

header {
    background-color: #ca1f1f;
    color: #ffffff;
    text-align: center;
    padding: 20px 0;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.info-box {
    position: fixed;
    top: 20px;
    left: 20px;
    width: 300px;
    padding: 20px;
    background-color: #333333;
    border: 2px solid #ff0000;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
}
.info-box :hover {
    transform: scale(1.1);
    background-color: #00000033;
    color: #ffffff;
}

.info-box h2 {
    color: #ff0000;
    margin-top: 0;
}

.info-box ul {
    list-style: none;
    padding: 0;
}

.info-box ul li {
    margin-bottom: 10px;
}

.content {
    margin-left: 350px;
    padding: 20px;
}

.history-box, .facts-box, .quotes-box {
    margin-bottom: 20px;
    padding: 20px;
    background-color: #0c0b0baf;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
}

.history-box h2, .facts-box h2, .quotes-box h2 {
    color: #ff0000;
}

ul {
    list-style-type: disc;
    padding-left: 20px;
}

a {
    color: #ff0000;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}
.info-box :hover {
    background-color: #00000033;
    color: #ffffff;
}
.carousel {
    margin: 40px auto;
    max-width: 800px;
    text-align: center;
}
.carousel img {
    width: 100%;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
}
.carousel-text {
    margin-top: 20px;
    font-size: 1.2em;
    color: #ffffff;
}
.carousel-controls {
    margin-top: 10px;
}
.carousel-controls button {
    background-color: #ff0000;
    color: #ffffff;
    border: none;
    padding: 10px 20px;
    margin: 5px;
    border-radius: 5px;
    cursor: pointer;
}
.carousel-controls button:hover {
    background-color: #cc0000;
}
.carousel{
    margin: 40px auto;
    max-width: 800px;
    text-align: center;
    background-color: #333333;
}
.carousel-images img {
    width: 300px; /* Largeur fixe */
    height: 500px; /* Hauteur fixe */
    object-fit: contain; /* Affiche l'image entière avec des espaces si nécessaire */
    background-color: #000; /* Ajoute un fond noir pour les espaces vides (optionnel) */
}